body{
    background-color: floralwhite; text-align: center; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}
#counter{
    font-size: 30px;
}
.card{
    background-color: coral; 
    border: 2px Oblack dotted; 
    left: 35%; 
    top: 30%; 
    width: 30%; 
    position: absolute;

}
.buttons{
    margin-bottom: 30px;

}
button{
    font-size: 30px;
}

